@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our fabulous program</h1>
   <form  method="get">
       Name: <input type="text" name="testN" />
       <input type="submit" value="Submit!" />
   </form>
</div>
